<footer>
    <div class="wrapper">
        &copy; Collège La Cité | Walid Zahri
    </div>
    <p>Ce site web utilise des cookies pour son fonctionnement régulier.
         Si vous naviguez sur ce site web, vous consentez à l'utilisation des cookies.</p>
</footer>
