<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    
   

    {{#each styles}}
        <link rel="stylesheet" href="{{this}}">
    {{/each}}

    <script type="module" src="/js/main.js"></script>
    
    {{#each scripts}}
        <script type="module" src="{{this}}"></script>
    {{/each}}

</head>
<body>
    {{>header}}

    <main>
        <div class="wrapper">
            {{{body}}}
        </div>
    </main>

    {{>footer}}
</body>
</html>